@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primary: #000000;
    --cor-secondary: #F6F6F6;
    --cor-tertiary: #22D4FD;
    --cor-hover: #272727;

    --font-primary: 'Krona One', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;

    --peso-semibold: 600;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primary);
    color: var(--cor-secondary);
    box-sizing: border-box;
}

strong {
    color: var(--cor-tertiary);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: var(--peso-semibold);
    text-decoration: none;
    color:var(--cor-tertiary);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__title {
    font-family: var(--font-primary);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primary);
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    border: 2px solid var(--cor-tertiary);
    border-radius: 8px;
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: var(--peso-semibold);
    color: var(--cor-secondary);
    text-decoration: none;
    text-align: center;
    padding: 21.5px 0;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape {
    background-color: var(--cor-tertiary);
    color:var(--cor-primary);
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    text-align: center;
    padding: 1%;
}

@media (max-width: 1200px) {
   .cabecalho {
        padding: 10%;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 0% 5% 5% 5%;
    }

    .apresentacao__conteudo {
        width: 100%;
    }
}
